/* ЦВЕТОВЫЕ ИЗМЕНЕНИЯ ТЕМЫ CRISP */
/* цвет фона */
div.x-border-layout-ct {
    background-color: #F5F5F5 !important;
}

/* сделать маску менее прозрачной */
.x-mask {
    background-color: rgba(255, 255, 255, 0.8) !important;
}

/*gridgroupheader - гриды событий, слева*/
/* заголовки сгруппированных гридов */
.gridgroupheader .x-grid-group-hd {
    background: #F5F5F5 !important;
    font-weight: 700 !important;
    color: #000000 !important;
}

.gridgroupheader .x-grid-group-title {
    font-weight: 700 !important;
    color: #000000 !important;
    white-space: normal !important;
}

/* перенос текста внутри ячейки */
.gridgroupheader .x-grid-cell-inner {
    white-space: normal !important;
}

/* очертить модальное окно рамочкой */
.x-window-default {
    border-color: #CECECE !important;
}

/* цвет фона панели */
.x-panel-body-default {
    background: #F5F5F5 !important;
}

/* цвет фона панели */
.x-panel-body-default-framed {
    background: #F5F5F5 !important;
}

/* граница панели */
.x-panel-default-framed {
    border-color: #F5F5F5 !important;
}

/* цвет фона заголовка таблицы */
.x-column-header {
    background-color: #F5F5F5 !important;
}

/* верхняя граница заголовка проперти грида в окне */
.x-panel-default-outer-border-trl {
    border-top-color: #cecece !important;
}

/* цвет фона окна */
.x-window-body-default {
    background: #F5F5F5 !important;
}

/* цвет фона меню */
.x-toolbar-default {
    background-color: #F5F5F5 !important;
}

/* граница кнопок меню */
.x-btn-default-toolbar-small {
    background-color: #E5E5E5 !important;
    border-color: #C8C8C8 !important;
}

/* нижняя граница заголовка грида */
.x-panel-header-default-framed {
    border: 1px solid #CECECE !important;
}

/* цвет крайнейго правого (пустого) заголовка грида */
.x-grid-header-ct {
    background-color: #F5F5F5 !important;
}

/* чтобы цвет label ckeckfield был таким же как и у других элементов */
.x-form-cb-label-default.x-form-cb-label-after {
    color: #666 !important;
}

/* цвет фона в текстовых полях */
/*.x-form-text-default {
    background-color: #F5F5F5 !important;
}*/
/* граница грида снизу */
.x-grid-with-row-lines .x-grid-item:last-child {
    border-bottom-width: 0px !important;
}

/* граница последнего заголовка грида */
.x-column-header-last {
    border-right-width: 1px !important;
}

/*изменение верхнего тулбара*/
/*цвет фона*/
.x-body {
    background: #F5F5F5 !important;
}

/* текст кнопок пунктов главного меню */
.menumain .x-btn-inner-default-toolbar-large {
    color: #F5F5F5 !important; /*aqua*/
}

/* подпись лейбела */
.menumain1 .x-form-item-label-default {
    color: #F5F5F5 !important; /*aqua*/
}

.menumain .x-btn.x-btn-pressed.x-btn-default-large {
    background-color: #005960 !important;
}

/* тень в главном меню при нажатии пункта */
.menumain .x-btn-focus.x-btn-menu-active.x-btn-default-toolbar-large, .x-btn-focus.x-btn-pressed.x-btn-default-toolbar-large {
    border-radius: 0 !important;
}

.menumain .x-btn-default-toolbar-large {
    background-color: #038D98 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
    border-width: 0 !important;
}

.menumain .x-btn-over.x-btn-default-toolbar-large {
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
    border-width: 0 !important;
}

.menumain1 .x-btn-default-toolbar-large {
    background-color: #038D98 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}

.menumain1 .x-btn.x-btn-pressed.x-btn-default-toolbar-large {
    background-color: #005960 !important; /*aqua*/
}

.menumain1 .x-btn-over.x-btn-default-toolbar-large {
    border-color: #BDBDBD !important;
}

.menumain1 .x-btn.x-btn-menu-active.x-btn-default-toolbar-large, .x-btn.x-btn-pressed.x-btn-default-toolbar-large {
    background-color: #005960 !important;
}

.menumain2 .x-toolbar-default {
    background-color: #038D98 !important;
}

.eventtypes .x-btn-default-medium {
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
    border-color: #038D98 !important;
    background-color: #038D98 !important;
}

.eventtypes .x-btn-inner-default-medium {
    color: #f5f5f5 !important;
}

.eventtypes .x-btn.x-btn-pressed.x-btn-default-medium {
    border-color: #005960 !important;
    background-image: none !important;
    background-color: #005960 !important;
}

.eventtypes .x-btn-default-toolbar-medium {
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
    border-color: #038D98 !important;
    background-color: #038D98 !important;
}

.eventtypes .x-btn-inner-default-toolbar-medium {
    color: #F5F5F5 !important;
}

.eventtypes .x-panel-default-framed-outer-border-trl {
    border-top-color: #038D98 !important;
    border-top-width: 0px !important;
    border-right-color: #038D98 !important;
    border-right-width: 0px !important;
    border-left-width: 0px !important;
    border-left-color: #038D98 !important;
    padding: 0 !important;
    border-bottom-color: #CECECE !important;
    border-bottom-width: 1px !important;
}

.eventtypes .x-btn.x-btn-pressed.x-btn-default-toolbar-medium {
    border-color: #005960 !important;
    background-image: none !important;
    background-color: #005960 !important;
}

.eventtypes .x-toolbar-default {
    padding: 0 !important;
}

.eventtypes .x-toolbar-default .x-toolbar-item {
    margin: 0 !important;
}

.eventtypes .x-panel-default-outer-border-trl {
    border-top-color: #F5F5F5 !important;
}

.grid-main-line .x-grid-with-col-lines .x-grid-cell {
    padding: 0px !important;
}

.grid-main-line .x-grid-with-col-lines .x-grid-cell {
    /*border-right: 0;*/
}

.grid-main-line .x-column-header-inner {
    padding: 6px 2px 6px 2px !important;
}

.grid-main-line .x-grid-item-over {
    background-color: white !important;
}

.grid-main-line .x-grid-with-row-lines .x-grid-item.x-grid-item-over {
    border-color: white !important;
}

.grid-main-line .x-panel-body-default {
    border-bottom-width: 1px !important;
}

/* закругленный курсор выделения */
.grid-main-line .x-grid-item-focused .x-grid-cell-inner:before {
    border-radius: 15px !important;
}

.grid-main-line .x-grid-cell-inner {
    padding: 7px 5px 7px 5px !important;
    white-space: normal !important;
}

.grid-main-line .x-grid-row .x-grid-cell-selected {
    background-color: white !important;
}

.grid-main-line .x-column-header, .grid-main-line .x-column-header-over{
    color: rgb(245, 245, 245) !important;
    background-color: #3892D3 !important;
    font-weight: 600!important;
}


/*размер кнопок табов*/
.eventstab .x-tab.x-tab-active.x-tab-default {
    padding: 6px 5px 6px 5px !important;
}

.eventstab .x-tab-default-top {
    padding: 6px 5px 6px 5px !important;
}

.eventstab .x-docked-bottom {
    border-top-width: 1px !important;
}

.eventstab .x-docked-top {
    border-top-width: 1px !important;
    border-bottom-width: 1px !important;
}

.eventstab .x-tab-icon-el-default.x-tab-glyph {
    color: #A64747 !important;
    opacity: 1 !important;
}

.eventstab .x-grid-with-row-lines .x-grid-item:nth-child(1) {
    border-width: 0 !important;
}

.baskettab .x-tab.x-tab-active.x-tab-default {
    padding: 6px 5px 6px 5px !important;
}

.baskettab .x-tab-default-top {
    padding: 6px 5px 6px 5px !important;
}

.baskettab .x-docked-bottom {
    border-top-width: 1px !important;
    padding: 10px 0 0 0 !important;
}

.baskettab .x-docked-top {
    border-top-width: 1px !important;
}

.baskettab .x-tab-icon-el-default.x-tab-glyph {
    color: #A64747 !important;
    opacity: 1 !important;
}

.baskettab .x-toolbar-default .x-toolbar-item {
    margin: 0 !important;
}

/* граница панели */
.x-panel-default-framed {
    border-color: #CECECE !important;
}

/* заголовок панелей групп маркетов в Заполнении */
.market-group-header > .x-panel-header-default-framed {
    background-color: #C9E6FF !important;
}

.market-group-header > .x-panel-header-default,
.market-header > .x-panel-header-default {
    background-color: #313131 !important;
}

.market-group-header .x-panel-header-title-default {
    color: #F5F5F5 !important;
}

.market-header .x-panel-header-title-default {
    color: #F5F5F5 !important;
}

.market-header .x-grid-item-over {
    background-color: white !important;
}

.market-header > .x-panel-header-default-horizontal.x-header-noborder {
    background-color: #038D98 !important;
}

.market-header .x-grid-cell-inner {
    overflow: visible !important;
    white-space: normal !important;
    padding: 3px 5px 3px 5px !important;
}

.market-header .x-column-header-text {
    white-space: normal !important;
    line-height: 14px !important;
}

.market-header .x-column-header-inner {
    padding: 2px 2px 2px 5px !important;
}

.market-header .x-title-text {
    white-space: normal !important;
    display: inline !important;
}

.market-group-header .x-panel-header-default-horizontal,
.market-header .x-panel-header-default-horizontal {
    padding: 3px 3px 3px 5px !important;
}

.market-header .x-panel-header-default-horizontal.x-header-noborder {
    padding: 3px 3px 3px 5px !important;
}

/* цвет отмеченной ячейки */
.market-header .x-grid-row .x-grid-cell-selected {
    background-color: white !important;
}

/* закругленный курсор выделения */
.market-header .x-grid-item-focused .x-grid-cell-inner:before {
    border-radius: 10px !important;
}

.market-group-header .x-panel-default-outer-border-trl {
    border-top-width: 0 !important;
}

/* корзина- ячейка крестик- удалить ставку */
.bet-cancel-cell .x-grid-cell-inner {
    padding: 0 !important;
}

.bet-cancel-grid .x-grid-td {
    vertical-align: middle !important;
}

.bet-cancel-grid .x-grid-cell-inner {
    padding: 2px !important;
}

/*переворачивает заголовок панели на 180 градусов*/
.leftHeaderPanel .x-panel-header-title-default > .x-title-text-default {
    transform: rotate(180deg) !important;
    justify-content: center !important;
    display: flex !important;
}

.topHeaderPanel .x-panel-header-title-default > .x-title-text-default {
    justify-content: center !important;
    display: flex !important;
    transform: rotate(360deg) !important;
    color: #157fcc !important;
}

.topHeaderPanel > .x-panel-header-default-horizontal.x-header-noborder {
    justify-content: center !important;
    display: flex !important;
    background-color: #f5f5f5 !important;
}

.topHeaderPanel .x-panel-header-title-default > .x-title-text-default {
    color: #157fcc !important;
}

.topHeaderPanel .x-column-header-inner {
    padding: 2px 2px 2px 5px !important;
}

.topHeaderPanel .x-grid-cell-inner {
    padding: 3px 5px 3px 5px !important;
}

/* границы ячеек таблицы ставок в купоне */
table.bet tr td {
    border-top: 1px solid #cecece !important;
    border-left: 1px solid #cecece !important;
}

/*table.bet-amount tr td {*/
    /*padding:0 !important;*/
/*}*/

table.bet {
    border-spacing: 0 !important;
    -moz-appearance: textfield !important;
}

table.bet tr:nth-child(2) {
    background-color: white !important;
}

table.bet tr:nth-child(1) {
    background-color: whitesmoke !important;
}

table.bet tr td:first-child {
    border-left: 0 !important;
}

table.bet tr td:nth-child(3) {
    width: 60px !important;
}

input.bet-amount::-webkit-inner-spin-button {
    display: none !important;
}

/* границы ячеек таблицы ставок в купоне - название команд */
table.bet-teams {
    border-spacing: 0 !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

table.bet-teams tr td:first-child {
    border-left: 0 !important;
}

table.bet-express tr td {
    border-top: 1px solid #cecece !important;
    border-left: 1px solid #cecece !important;
}

table.bet-express {
    border-spacing: 0 !important;
}

table.bet-express tr:nth-child(1) {
    background-color: whitesmoke !important;
}

table.bet-express td:nth-child(2) {
    background-color: white !important;
}

table.bet-express tr:nth-child(1) {
    background-color: whitesmoke !important;
}

table.bet-express tr td:first-child {
    border-left: 0 !important;
}

table.bet-title tr td {
    border-top: 1px solid #cecece !important;
    border-left: 1px solid #cecece !important;
    background-color: rgb(3, 141, 152) !important;
}

table.bet-title {
    border-spacing: 0 !important;
}

table.bet-title tr td:first-child {
    border-left: 0 !important;
}

/* сумма Ставки, валидная и не валидная */
input.bet-amount:required:invalid {
    font-weight: bold !important;
    background-color: rgba(215, 0, 0, 0.1) !important;
    border: 0 !important;
    width: 100% !important;
    text-align: left !important;
    padding:0 !important;
    font-size: 18px !important;
    height: 100% !important;
    padding-left: 5px !important;
}

input.bet-amount:required:valid {
    font-weight: bold !important;
    /*background-color: #9BE0FF !important;*/
    border: 0 !important;
    width: 100% !important;
    text-align: left !important;
    padding:0 !important;
    font-size: 18px !important;
    height: 100% !important;
    padding-left: 5px !important;
}

span.bet {
    font-weight: bold !important;
}

span.bet-title {
    color: whitesmoke !important;
}

.bet .x-form-text-default {
    height: 19px !important;
    min-height: 19px !important;
    font-weight: 600 !important;
    text-align: center !important;
    padding: 0 !important;
}

.bet-bold {
    font-weight: 600 !important;
}

.bet-bold-blue {
    font-weight: 600 !important;
    background-color: #9BE0FF !important;
}

.basket-grid .x-grid-cell-inner {
    padding: 0 !important;
}

.basket-grid .x-grid-td {
    vertical-align: middle !important;
}

.basket-grid .x-grid-with-row-lines .x-grid-item:last-child {
    border-bottom-width: 1px !important;
}

.basket-grid .x-grid-item-over {
    background-color: white !important;
}

.basket-grid .x-grid-row .x-grid-cell-selected {
    background-color: white !important;
}

.basket-grid .x-grid-item-focused .x-grid-cell-inner:before {
    border: 0 !important;
}

.basket-grid .x-grid-item-selected {
    background-color: white !important;
}

.gridgroupheader .x-toolbar-default {
    padding: 0 !important;
}

.gridgroupheader .x-toolbar-default .x-toolbar-item {
    margin: 0 2px 0 0 !important;
}

.market-table-title {
    background-color: #038D98 !important;
    color: #F5F5F5 !important;
}

.market-table-title-rats {
    background-color: #038D98 !important;
    color: #F5F5F5 !important;
    padding-left: 5px !important;
    text-align: left !important;
}

.market-table-tr {
    background-color: white !important;
}

.market-table-title-span {
    font-weight: 300 !important;
    font-family: helvetica, arial, verdana, sans-serif !important;
    font-size: 15px !important;
    padding-left: 5px !important;
}

.market-table-td {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.market-table-cell-td {
    padding-left: 5px !important;
    padding-right: 5px !important;
    background-color: white !important;
}

table.market-table tr td {
    border-bottom: 1px solid #cecece !important;
}

table.market-table tr td:nth-child(1) {
    border-left: 1px solid #cecece !important;
}

table.market-table tr:nth-child(n+2) td {
    border-right: 1px solid #cecece !important;
}

table.market-table {
    border-spacing: 0 !important;
}

table.market-table tr:nth-child(2) {
    /*background-color: white;*/
}

table.market-table tr:nth-child(1) {
    /*background-color: whitesmoke;*/
}

table.market-table tr td:first-child {
    border-left: 0 !important;
}

table.market-table-dc tr td {
    border-bottom: 1px solid #cecece !important;
    border-left: 1px solid #cecece !important;
}

table.market-table-dc {
    border-spacing: 0 !important;
}

table.market-table-dc tr td:first-child {
    border-left: 0 !important;
}

.market-table-columnname {
    background-color: #F5F5F5 !important;
    color: #157fcc !important;
}

.market-table-td-in-basket {
    padding-left: 5px !important;
    padding-right: 5px !important;
    background: rgb(255, 251, 184) !important;
}

/* пустая ячейка в комбике */
.my-boundlist-item-menu {
    padding: 0 6px !important;
    line-height: 22px !important;
    cursor: pointer !important;
    cursor: hand !important;
    position: relative !important;
    zoom: 1 !important;
    border-width: 1px !important;
    border-style: dotted !important;
    border-color: white !important;
}

.my-boundlist-item-menu:hover {
    background: #D6E8F6 !important;
    border-color: #D6E8F6 !important;
}

/* чтобы обычные кнопки выглядели как кнопки тулбара */
.button-like-toolbar .x-btn-icon-el-default-small.x-btn-glyph {
    color: #666666 !important;
}

.button-like-toolbar .x-btn-inner-default-small {
    color: #666666 !important;
}

.button-like-toolbar .x-btn-default-small {
    border-color: #C8C8C8 !important;
    background-color: #E5E5E5 !important;
}

/* всплывающие сообщения  */
.my-warn-toast .x-autocontainer-innerCt {
    background-color: rgb(247, 71, 71) !important;
    font-size: 18px !important;
    color: #FAFAFA !important;
}

.my-warn-toast .x-window-header-title-default > .x-title-text-default {
    color: rgb(247, 71, 71) !important;
    font-size: 20px !important;
    padding-left: 10px !important;
}

.my-warn-toast .x-window-header-title-default > .x-title-icon-wrap-default > .x-title-glyph {
    color: rgb(247, 71, 71) !important;
    font-size: 20px !important;
}

.my-suc-toast .x-autocontainer-innerCt {
    background-color: #4CAE73 !important;
    font-size: 18px !important;
    color: #FAFAFA !important;
}

.my-suc-toast .x-window-header-title-default > .x-title-text-default {
    color: #4CAE73 !important;
    font-size: 20px !important;
    padding-left: 10px !important;
}

.my-suc-toast .x-window-header-title-default > .x-title-icon-wrap-default > .x-title-glyph {
    color: #4CAE73 !important;
    font-size: 20px !important;
}

.gridrat-cell .x-grid-cell-inner{
    padding:5px !important;
}

.bet-express .x-form-item-label-inner{
    font-size: 18px !important;
    color: rgb(39, 127, 204) !important;
}
.bet-express .x-form-text-default{
    font-size: 18px !important;
    font-weight: 600;
    padding: 0px 2px 0px 5px !important;
    /*background-color: #9BE0FF !important;*/
}

/*Обязательная для заполнения ячейка*/
.my_obligatory .x-form-text {
    background-color: rgba(215, 0, 0, 0.1) !important;
}

/* границы ячеек таблицы ставок в купоне */
table.change-bet-text tr td {
    border-top: 1px solid #cecece !important;
    border-left: 1px solid #cecece !important;
}

/* таблица для отображения изменений кэфов и базисов, пришедшие от сервера */
table.change-bet-text {
    border-spacing: 0 !important;
    -moz-appearance: textfield !important;
    background-color: white !important;
    border-right: 1px solid #cecece !important;
    border-bottom: 1px solid #cecece !important;
}
table.change-bet-text tr:nth-child(1) {
    background-color: #d6e8f6 !important;
    font-weight: 600;
    text-align: center;
}
table.change-bet-text tr td {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
