/* общий стиль для всех иконок спорта */
.sport {
    height: 24px;
    width: 24px;
    vertical-align: -1em;
}
.football {background-image:url(../image/sport/football24.png) !important;}
.hockey {background-image:url(../image/sport/football24.png) !important;}
.basketball {background-image:url(../image/sport/basketball24.png) !important;}
.volleyball {background-image:url(../image/sport/volleyball24.png) !important;}
.golf {background-image:url(../image/sport/football24.png) !important;}
.baseball {background-image:url(../image/sport/baseball24.png) !important;}
.tennis {background-image:url(../image/sport/tennis24.png) !important;}
.amerfootball {background-image:url(../image/sport/American-football24.png) !important;}
.table-tennis {background-image:url(../image/sport/table-tennis24.png) !important;}

.icon-go-to-game {background-image: url(../image/go.gif) !important;height: 16px;}
.icon-go-blue-to-game {background-image: url(../image/go_blue.gif) !important;height: 16px;}

.icon-print {background-image: url(../image/print.png) !important;height: 16px;}
.icon-print-extended {background-image: url(../image/print_extended.png) !important;height: 16px;}