/* размер глифов в табах */
/*.x-tab-icon-el-default.x-tab-glyph {
    font-size: 24px;
    line-height: 24px;
    color: rgb(53, 182, 47);
    opacity: .5;
}*/


/* багфиксы */
/* Исправление бага 43 Хрома, когда смещалось отображение textfield */
.chrome-43 .x-form-text {
    display: inline!important;
}

/*отступ сверху названий полей грида*/
.x-column-header-inner {
    line-height: 17px !important;
    text-align: center !important;
}

/* перенос строки в гриде*/
.wrapText .x-grid-cell-inner {
    white-space: normal !important;
}

/* TRIAL */
/* убираем надпись Trial из заголовка панелей */
.x-panel-header-title-default-framed > .x-title-text-default-framed:after {
    content: '' !important;
}

.x-panel-header-title-default > .x-title-text-default:after {
    content: '' !important;
}

.x-window-header-title-default > .x-title-text-default:after {
    content: '' !important;
}

/*.x-grid-row-alt {
    background-color: #ff0000 !important; // red
}

.x-grid-item-alt {
    background-color: #bbffbb !important; // red
}*/

/* замочек заблокированной карты */
/*.icon-lock-4 {
    font-family: FontAwesome;
    color: crimson;
    margin-left: 14px;
    font-size: 120%;
}*/

/*.text-align-right {
    text-align: right !important;
}*/

/* для комбика, чтобы не переносился текст в ячейке */
.nowrap {
    white-space: nowrap !important;
}

.checkfield-align {
    vertical-align: -2px;
}

/* замена иконок дерева */
/* закрытая */
.x-tree-icon-parent {
    background-image: url(../image/folder.png) !important;
}

/* открытая */
.x-grid-tree-node-expanded .x-tree-icon-parent {
    background-image: url(../image/folder.png);
}

.x-tree-icon-leaf {
    background-image: url(../image/dot1.png) !important;
}

/* ячейки заблокированных Клубных карт */
.blocked-card-row {
    opacity: 0.5 !important;
}
/*
.changed-event-row {
   background-color: green;
}*/

/* класс для скрытия записи таблицы */
.x-hide-display { display: none;}

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed&subset=cyrillic-ext,latin);

.newfont .x-tree-node-text {
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 15px !important;
}

/* ячейки Крыс */
/*
.first-rats-row {
    background-color: #58CD87;
}

.second-rats-row {
    background-color: #64BDFC;
}*/
